@{
    ViewData["Title"] = "Home Page";
}

<section class="about py-lg-5 py-md-5 py-5">
    <div class="container">
        <div class="inner-sec-w3pvt py-lg-5 py-3">

            <div class="text-center">
                <h1 class="display-4">ƯU ĐIỂM VÀ LỢI ÍCH ASP.NET</h1>
                <h5 class="card-title">Tích hợp với Microsoft</h5>
                <p class="card-text">ASP.NET tương thích tốt với các sản phẩm khác của Microsoft như Azure, SQL Server.</p>

            </div>
            <div class="text-center">
                <h5 class="card-title">Bảo mật và quản lý lỗi:</h5>
                <p class="card-text">
                    ASP.NET Core có các tính năng bảo mật mạnh mẽ như Identity Framework, CORS (Cross-Origin Resource Sharing), và SSL.
                    Hỗ trợ quản lý lỗi và theo dõi ứng dụng thông qua các công cụ như Serilog, Application Insights..
                </p>

            </div>
            <div class="text-center">
                <h5 class="card-title">Tích hợp tốt với công nghệ mới</h5>
                <p class="card-text">
                    ASP.NET Core hỗ trợ các công nghệ mới.
                    Bạn có thể tích hợp dễ dàng với các dịch vụ đám mây như Azure, AWS, Google Cloud.
                    .
                </p>

            </div>
            <div class="text-center">
                <h5 class="card-title">Hiệu suất và tốc độ</h5>
                <p class="card-text">ASP.NET Core được thiết kế để có hiệu suất cao hơn so với các phiên bản trước đó của ASP.NET..</p>

            </div>


        </div>
    </div>
</section>


