@{
    ViewBag.Title = "Giới Thiệu Bản Thân";

}
<section class="about py-lg-5 py-md-5 py-5">
    <div class="container">
        <div class="inner-sec-w3pvt py-lg-5 py-3">

<div class="container">
    <div class="header text-center my-4">
        <h1>Giới Thiệu Bản Thân</h1>
        <p>Đinh Diệu Hương , hiện tại đang là sinh viên năm 3, ngành HTTT tại Trường Đại học Lâm Nghiệp. Tôi mong muốn đạt A+ môn ASP.NET tới & muốn phát triển bản thân trong lĩnh vực công nghệ này.</p>
    </div>
</div>
    <div class="fetured-info pt-lg-5">
    <div class="text-center">
    <img class="x1rg5ohu x5yr21d xl1xv1r xh8yej3" data-imgperflogname="feedCoverPhoto" alt="Có thể là hình ảnh về 1 người" src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/461851674_1777272773018218_2682123607987166873_n.jpg?stp=dst-jpg_p526x296&amp;_nc_cat=101&amp;ccb=1-7&amp;_nc_sid=6ee11a&amp;_nc_eui2=AeGGCqbCZ9zJZwLpUOfh8q3DcGst_vFqqRBway3-8WqpEDsbqhcpB7ZEA8YE4xgeXlbFl9impbrXca2MAiG4GmBf&amp;_nc_ohc=QSsOXIdJ1R8Q7kNvgFo8e0Y&amp;_nc_ht=scontent.fhan14-1.fna&amp;_nc_gid=Ac488h2UeddB-ga9pnSvzTw&amp;oh=00_AYD-dFHaNXH_mmswjo6Fpd7UnsrcTMVnZYvqTfaK24OV4Q&amp;oe=6706C11B">
    <div class="content">

        <section class="hobbies my-5">
            <h2>Sở Thích</h2>
            <ul>
                <li>Du Lịch  </li>
                <li>Chơi thể thao (thể thao điện tử, Cầu Lông,...)</li>
                <li>Đọc sách về lĩnh vực Thần thoại </li>
                <li>Xem Phim Khoa Học, nghe nhạc pop </li>
               
            </ul>
        </section>

        <section class="career-goals my-5">
            <h2>Định Hướng Nghề Nghiệp</h2>
            <p>.Tương lai tôi muốn trở thành một kĩ sư phần mềm.Làm trong việc phát triển kiểm thử phần mềm . </p>
        </section>
    </div>

    <div class="footer text-center my-4">
        <p>&copy; 2024 Giới Thiệu Bản Thân - Đinh Diệu Hương</p>
    </div>
</div>
</div></div></section>

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h1, h2 {
        color: #2c3e50;
    }

    p, li {
        font-size: 1.1rem;
        line-height: 1.6;
        color: #34495e;
    }

    .container {
        max-width: 900px;
        margin: auto;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    .my-4 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .my-5 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
</style>
